.si-bg {
    background: linear-gradient(
        to right,
        transparent,
        transparent 80%,
        var(--si-color-leave)
    );
}
.si-leave-0 {
    --si-color-leave: transparent;
}
.si-leave-1 {
    --si-color-leave: var(--color-proficiency-trained);
}
.si-leave-2 {
    --si-color-leave: var(--color-proficiency-expert);
}
.si-leave-3 {
    --si-color-leave: var(--color-proficiency-master);
}
.si-leave-4 {
    --si-color-leave: var(--color-proficiency-legendary);
}

.si-disabled {
    display: none;
}

.si-select {
    height: 33px;
    width: 33px;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: var(--space-1);
    border: 1px solid var(--color-text-primary);
}

.si-tr {
    height: 34px;
    /* border-top: 1px solid var(--sidebar-title); */
}

.si-td {
    vertical-align: middle;
    padding: 0.25rem 1rem;
}

.si-lock {
    text-align: center;
    margin: 0pt;
}

.si-select option[value="-"],
.si-select:has(option[value="-"]:checked) {
    background: transparent;
}

.si-select option[value="0"],
.si-select:has(option[value="0"]:checked) {
    background: var(--color-proficiency-untrained);
    color: var(--sidebar-title);
}
.si-select option[value="1"],
.si-select:has(option[value="1"]:checked) {
    background: var(--color-proficiency-trained);
    color: var(--sidebar-title);
}
.si-select option[value="2"],
.si-select:has(option[value="2"]:checked) {
    background: var(--color-proficiency-expert);
    color: var(--sidebar-title);
}
.si-select option[value="3"],
.si-select:has(option[value="3"]:checked) {
    background: var(--color-proficiency-master);
    color: var(--sidebar-title);
}
.si-select option[value="4"],
.si-select:has(option[value="4"]:checked) {
    background: var(--color-proficiency-legendary);
    color: var(--sidebar-title);
}
