.si-bg {
    background: linear-gradient(
        to right,
        var(--bg-color-enter),
        var(--bg-color-leave)
    );
}
.si-enter-0 {
    --bg-color-enter: var(--color-proficiency-untrained);
}
.si-enter-1 {
    --bg-color-enter: var(--color-proficiency-trained);
}
.si-enter-2 {
    --bg-color-enter: var(--color-proficiency-expert);
}
.si-enter-3 {
    --bg-color-enter: var(--color-proficiency-master);
}
.si-enter-4 {
    --bg-color-enter: var(--color-proficiency-legend);
}
.si-leave-0 {
    --bg-color-leave: var(--color-proficiency-untrained);
}
.si-leave-1 {
    --bg-color-leave: var(--color-proficiency-trained);
}
.si-leave-2 {
    --bg-color-leave: var(--color-proficiency-expert);
}
.si-leave-3 {
    --bg-color-leave: var(--color-proficiency-master);
}
.si-leave-04 {
    --bg-color-leave: var(--color-proficiency-legend);
}

.bg-0-4 {
    background: linear-gradient(
        to right,
        var(--color-proficiency-untrained),
        var(--color-proficiency-legendary)
    );
}

.bg-1-1 {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) calc(50% - 1px),
        linear-gradient(
                var(--color-proficiency-trained),
                var(--color-proficiency-trained)
            )
            calc(50%),
        rgba(0, 0, 0, 0) calc(50% + 1px)
    );
}

.bg-1-2 {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) calc(50% - 1px),
        linear-gradient(
                var(--color-proficiency-trained),
                var(--color-proficiency-expert)
            )
            calc(50%),
        rgba(0, 0, 0, 0) calc(50% + 1px)
    );
}

.bg-1-3 {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) calc(50% - 1px),
        linear-gradient(
                var(--color-proficiency-trained),
                var(--color-proficiency-master)
            )
            calc(50%),
        rgba(0, 0, 0, 0) calc(50% + 1px)
    );
}

.bg-1-4 {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) calc(50% - 1px),
        linear-gradient(
                var(--color-proficiency-trained),
                var(--color-proficiency-legendary)
            )
            calc(50%),
        rgba(0, 0, 0, 0) calc(50% + 1px)
    );
}

.bg-2-2 {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) calc(50% - 1px),
        linear-gradient(
                var(--color-proficiency-expert),
                var(--color-proficiency-expert)
            )
            calc(50%),
        rgba(0, 0, 0, 0) calc(50% + 1px)
    );
}

.bg-2-3 {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) calc(50% - 1px),
        linear-gradient(
                var(--color-proficiency-expert),
                var(--color-proficiency-master)
            )
            calc(50%),
        rgba(0, 0, 0, 0) calc(50% + 1px)
    );
}

.bg-2-4 {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) calc(50% - 1px),
        linear-gradient(
                var(--color-proficiency-expert),
                var(--color-proficiency-legendary)
            )
            calc(50%),
        rgba(0, 0, 0, 0) calc(50% + 1px)
    );
}

.bg-3-3 {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) calc(50% - 1px),
        linear-gradient(
                var(--color-proficiency-master),
                var(--color-proficiency-master)
            )
            calc(50%),
        rgba(0, 0, 0, 0) calc(50% + 1px)
    );
}

.bg-3-4 {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) calc(50% - 1px),
        linear-gradient(
                var(--color-proficiency-master),
                var(--color-proficiency-legendary)
            )
            calc(50%),
        rgba(0, 0, 0, 0) calc(50% + 1px)
    );
}

.bg-4-4 {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) calc(50% - 1px),
        linear-gradient(
                var(--color-proficiency-legendary),
                var(--color-proficiency-legendary)
            )
            calc(50%),
        rgba(0, 0, 0, 0) calc(50% + 1px)
    );
}
